body {
    font-family: cursive;
    color:white;
    background-color: black;
}

h1,h2,p,h3 ,h5{
    text-align: center;
}

footer {
    border: 5ps solid white;
    color:grey;
}

.a{
    width:500px;
    height:300px
}

