body {
    font-family: cursive;
    color:black;
    background-color: white;
}

h1,h2,p,h3 ,h5{
    text-align: center;
}

footer {
    border: 5 px solid black;
    color:grey;
}

.a{
    width:450 px;
    height:300 px
}


    
p {
    font-size:20 px;

}
